@media screen and (max-width: 1180px)
  .hero
    zoom: 0.8
  .plenum
    zoom: 0.65
    &-img
      display: none
  .schedule
    zoom: 0.65
  .circles
    zoom: 0.8
  .guests
    zoom: 0.65
  .footer
    zoom: 0.65

@media screen and (max-width: 768px)
  .container
    max-width: 910px !important
  .hero
    zoom: 0.5
    .nav
      zoom: 1.2
  .plenum
    zoom: 0.5
  .schedule
    zoom: 0.5
  .circles
    zoom: 0.5
  .guests
    zoom: 0.5
  .footer
    zoom: 0.5