.footer
  padding: 35px 0 20px 0
  background-color: #214479
  .container
    position: relative
  .nav
    margin-bottom: 72px
  .copy
    text-align: center
    font-size: 16px
    color: #fff
  .author
    position: absolute
    bottom: 0
    right: 0
    font-size: 14px
    color: #fff
    +light
    a
      color: #fff
      text-decoration: none
      +med
  .sponsors
    position: absolute
    bottom: 0
    left: 0
    &-title
      color: #fff
      font-size: 14px
      margin-bottom: 10px
    &-list
      max-width: 200px
      display: flex
      column-gap: 20px
      row-gap: 10px
      flex-wrap: wrap
      align-items: center
      img
        vertical-align: bottom